<div class="jumbotron jumbotron-fluid">
    
    <div class="container" id="homeContainer">
        <div class="container-background" id="homeBkgd"></div>
        <div class="content" id="homeContent">

        <p class="lead" id="motto">Bet. Set. Get Edge. </p>
        <p id="slogan">Sign up today and start bidding.<br />
        <span id="logo_md">OnTilt</span>, where responsible gaming happens.</p>
        <a class="btn btn-outline-light btn-lg" id="mainBtn" href="/schedule" role="button">VIEW GAMES</a>
        <a class="btn btn-outline-light btn-lg" id="mainBtn" href="/dash" role="button">DASHBOARD</a>
        </div>
        </div>
    </div>
</div>