<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="container-background"></div>
        <div class="content">
        
        <p id="logo">OnTilt</p>
        <p class="lead" id="motto">Bet. Set. Get Edge. </p>
        <p id="slogan">Sign up today and start bidding.</p>
        {{!-- <p>Where responsible gaming happens.</p> --}}
        <a class="btn btn-outline-light btn-lg mt-4 mx-2" id="mainBtn" href="/signup" role="button">SIGN UP</a>
        <a class="btn btn-outline-light btn-lg mt-4 mx-2" id="mainBtn" href="/login" role="button">SIGN IN</a>
        </div>
        </div>
    </div>
</div>
