
<div class="jumbotron jumbotron-fluid">
    <div class="container2" id="homeContainer">
        <div class="container-background2" id="homeBkgd"></div>
        <div class="content2" id="homeContent">

        <p class="lead" id="motto">It's in the game. </p>
        <p id="slogan">
        <span id="logo_md">OnTilt</span>, where responsible gaming happens.</p>
        </div>
        </div>
    </div>
</div>
