
<div class="jumbotron jumbotron-fluid">
    <div class="container" id="homeContainer">
        <div class="container-background" id="homeBkgd"></div>
        <div class="content" id="homeContent">

        <p class="lead" id="motto">Bet. Set. Get Edge. </p>
        <p id="slogan">
        <span id="logo_md">OnTilt</span>, where responsible gaming happens.</p>
        </div>
        </div>
    </div>
</div>
