<nav class="navbar navbar-expand-lg navbar-light static-top" >
    <a class="navbar-brand" id="sm_logo" href="/landing">OnTilt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
{{!-- 
        <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">View Games</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Dashboard</a>
                </li>
            </ul>
        </div> --}}
</nav> 