{{!-- main base template: views/layouts/main.handlebars --}}
<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">

<head>
    {{> head}}

    {{{_sections.styles}}}

    <title>OnTilt</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>


 <div class="container-fluid">
    {{{body}}}
</div>



{{>script}}
{{{_sections.scripts}}}


</body>
</html>