<!-- views/bid.handlebars -->
<div class="container">
  <div class="row">
    <div class="col">
      <form method="POST" action="/">
        <fieldset>
          <legend>Place Bid</legend>
          <!-- TITLE -->
          <p>
            <label for="title">Team Name</label><br>
            <input type="text" name="title" />
          </p>
          <p>
            <label for="desc">Bid Amount</label><br>
            <input type="text" name="desc" />
          </p>
        </fieldset>

        <!-- BUTTON -->
        <p>
          <button type="submit">Place Bid</button>
        </p>
          <p>
          <button type="submit">Go Back</button>
        </p>

      </form>
    </div>
  </div>
</div>
