<!-- views/bid.handlebars -->
<div class="container text-center pt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <form method="POST" action="/">
        <fieldset>
          <div class="class="text-center"">
            <h2>VIEW GAME</h2>
          <legend></legend>
          </div>
          <hr />
          <!-- TITLE -->
          <p>
            <label for="title">GAME ID</label><br>
            <input type="text" name="title" />
          </p>
          <p>
            <label for="desc">GAME DATE</label><br>
            <input type="text" name="desc" />
          </p>
        </fieldset>

        <!-- BUTTON -->
        <p>
          <button type="submit" class="btn btn-primary rounded-pill px-4">VIEW</button>
        </p>

        <p>
          <button type="submit" class="btn btn-primary rounded-pill px-4">BACK</button>
        </p>

      </form>
    </div>
  </div>
</div>
