{{!-- dashboard section --}}

  <div class="user-container shadow p-3 mb-5 bg-dark rounded-lg pt-5">
    <div class="row ">
      <div class="col">
        <div class="wrapper">
        <a class="btn btn-outline-light px-4 my-3 mx-4" href="/user">CREATE NEW USER</a>
        <a class="btn btn-outline-light px-4 my-3 mx-4" href="/bid">PLACE A BID</a>
        </div>
          <h1 id="dashTitle">BETS DASHBOARD</h1>
          <h6>Search current users and view logs of bets history</h6>

        <table class="table table-striped table-hover table-dark table-responsive-lg rounded-lg">
          <thead>
            <tr>
              <th colspan="2">USER</th>
              <th scope="col">TOTAL BIDS</th>
              <th scope="col">USER'S BIDS</th>
              <th scope="col">PLACE A BID</th>
              <th scope="col">DELETE USER</th>
            </tr>
          </thead>
          <tbody>
            <tr id="form-row">
              <form id="user-form">
                <td colspan="5" >
                  <input placeholder="Enter a name" id="user-name" type="text" />
                </td>
                <td colspan="2">
                  <button type="submit" class="btn btn-light px-4">SEARCH</button>
                </td>
              </form>
            <tr id="form-row2">
              <form id="game-form">
                <td colspan="5">
                  <input placeholder="Enter a game" id="game-name" type="text" />
                </td>
                <td>
                  <button type="submit" class="btn btn-light px-4">SEARCH</button>
                </td>
              </form>
            </tr>
          </tbody>
        </table>
      </div>
    </div> 
</div>



{{!-- game section --}}
<div class="container mt-5" id="gameContainer">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <h1>GAMES</h1>
          {{#each games}}
              <div class="card mt-3">
                <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.desc}}</p>
                  <div class="text-right">
                    <a href="/game" class="btn btn-info">VIEW GAME</a>
                    <a href="/bid" class="btn btn-primary">PLACE BID</a>
                  </div>
                </div>
              </div>
            {{/each}}
      </div>
  </div>
</div>




