<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <a class="btn btn-primary text-light" href="/newmain">GAMES</a>
                <button class="edit btn btn-secondary text-center mx-2 my-2 px-2 py-2" href="/newusers">USERS</button>
                    {{!-- <a class="btn btn-primary text-light" href="/newusers">ALL USERS</a> --}}
                <button class="delete btn btn-danger text-center m-2 p-2" href="/newbets">BETS</button>
            </div>
        </div>
    </div>
</div>


