{{!-- TEST: OUR MOCK ARRAY OF PROJECTS --}}

<!-- events-index -->
  <div class="row mt-4">
      <div class="col-lg-6 offset-lg-3">
          <h1>Games</h1>
            {{#each games}}
              <div class="card mt-3">
                <img class="card-img-top" src="{{this.imgUrl}}" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p class="card-text">{{this.desc}}</p>
                  <div class="text-right">
                    <a href="/game" class="btn btn-info">View Game</a>
                    <a href="/bid" class="btn btn-primary">Make a Bid</a>
                  </div>
                </div>
              </div>
            {{/each}}
      </div>
  </div>






