{{!-- {{#section 'styles'}}
<link rel="stylesheet" href="/css/userdash.css">

{{/section}} --}}


<div class="container blog">
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/cms">New Post</a>
    </div>
    <div class="col-md-2 col-sm-2">
      <a class="btn btn-light" href="/authors">Manage Authors</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 blog-container">
    </div>
  </div>
</div>

{{#section 'scripts'}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{{!-- <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet"> --}}
<script src="/js/newmain.js"></script>
{{/section}}