<div class="container mt-5">
    {{!-- <div class="row top-30">
        <div class="wrapper">
            <div class="col d-inline">
                <a class="btn btn-outline-light my-5 " href="/newmain">GO TO MAIN</a>
            </div>
            <div class="col d-inline">
                <a class="btn btn-outline-light my-5" href="/newbets">NEW A BET</a>
            </div>
        </div>
    </div> --}}
    <div class="row top-30">
        <div class="col mb-5">
            <div class="author-container">
                <h4>CREATE/EDIT USERS</h4>
                <table class="table table-striped table-hover table-responsive table-dark rounded-lg">
                    <thead>
                        <tr>
                            <th colspan="2">USERNAME</th>
                            {{!-- <th></th> --}}
                            <th colspan="2"></th>
                            <th colspan="2"></th>
                            <th colspan="2"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="form-row">
                            <form id="author-form">
                                <td colspan="4">
                                    <input placeholder="Create username" id="author-name" type="text" />
                                </td>
                                <td colspan="4">
                                    <button type="submit" class="btn btn-light">Create User</button>
                                </td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </d>



    {{#section 'scripts'}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/js/newuser.js"></script>
    {{/section}}