{{#section 'styles'}}
<link rel="stylesheet" href="/css/userdash.css">

{{/section}}

<h1>Upcoming NBA Games</h1>
<div id="games"></div>

{{#section 'scripts'}}
<script src="/js/userdash.js"></script>
{{/section}}