{{!-- {{#section 'styles'}}
<link rel="stylesheet" href="/css/userdash.css">

{{/section}} --}}

<div class="user-container bg-dark rounded-lg pt-5 blog">
        <div class="row">
        <div class="col-md-2 col-sm-2 text-center" >
            <a class="btn btn-primary mt-2" href="/newusers">USERS</a>
        </div>
        
        <div class="col-md-2 col-sm-2 text-center" >
            <a class="btn btn-primary mt-2"href="/newbets">NEW BET </a>
        </div>
      </div>
   
  <div class="row">
    <div class="col" >
        <h1 id="scheduleTitle">UPCOMING NBA GAMES</h1>
        <hr />
        <div class="row">
          <div class="col-lg-6 offset-lg-3 rounded-lg text-center px-1 py-1 mb-5" id="border">
            
            <div id="games"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

      <br />
      <hr />
      <br />
<div class="user-container shadow p-3 mb-5 bg-dark rounded-lg pt-5 blog">
  <div class="row">
    <div class="col" >
        <h1 id="scheduleTitle2">PREVIOUS NBA GAMES</h1>
        <hr />
        <div class="row">
          <div class="col-lg-6 offset-lg-3 rounded-lg text-center px-1 py-1" id="border2">
            
            <div id="pregames"></div>
          </div>
        </div>
    </div>
  </div>
</div>



   
 
{{#section 'scripts'}}
<script src="/js/userdash.js"></script>
<script src="/js/previousgames.js"></script>
{{/section}}