<div class="user-container shadow p-3 mb-5 bg-dark rounded-lg pt-5 blog">
  <div class="row">
    <div class="col">
        <div class="wrapper">
        </div>
<div class="container">
      <form>
        <div class="row">
          <div class="col">
            <label for="title">ENTER NAME</label>
            <input type="text" class="form-control" placeholder="Name">
          </div>
        </div>

        <div class="form-group">
          <label for="title">ENTER TEAM</label>
          <input placeholder="Enter Team " type="text" class="form-control" id="team">
          <br />
          <label for="body">ENTER BID AMOUNT</label>
          <input placeholder="Enter Team " type="text" class="form-control" id="bid">
      
          <div class="form-group">
       
          </div>
          <br />
          <button type="submit" class="btn btn-light px-4 submit">SUBMIT</button>
        </div>
      </form>
    </div>
  </div>
</div>



  

{{#section 'scripts'}}
<script src="/js/userFunction.js"></script>
{{/section}}
