<!-- views/events-index.handlebars -->
<table id="table">
            <tr>
                <th>User ID</th>
                <th>Selected Game</th>
                <th>Bid</th>
            </tr>
            {{#each userResults}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.game}}</td>
                <td>{{this.bid}}</td>
            </tr>
            {{/each}}
        </table>










   

<script>
      var data = {
                userResults: [
                {
                    id: 1,
                    game: 'GAME 1',
                    bid: 80
                },
                {
                    id: 2,
                    game: 'GAME 5',
                    bid: 70
                },
                {
                    id: 3,
                    game: 'GAME 3',
                    bid: 90
                }
            ]
        }
        
        // Handlebars hanbling 
        
        function createHTML(userData) {
            var rawTemplate = document.getElementById("table").innerHTML
            var compiledTemplate = Handlebars.compile(rawTemplate)
            var generatedHTML = compiledTemplate(userData)
            
            var resultContainer = document.getElementById("result-container")
            resultContainer.innerHTML = generatedHTML
            
        }
        
        createHTML(data)
        
        function UpdateData(id, game, bid) {
            var newUser = {}
            newUser.id = id
            newUser.game = game
            newUser.bid = bid
            data.userResults.push(newUser)
            createHTML(data)
        }
        
        // Update data from form
        
        var form = document.getElementById("form")
        form.addEventListener("submit", function(e) {
             UpdateData( document.getElementById('id').value, 
                document.getElementById('game').value,
                document.getElementById('bid').value );
            
            e.preventDefault();
        }, false)
        
</script>